<%= hy_layout_header(data: { parallax: 'scroll', image_src: image_path("himalaya.jpg") }) do %>
  <%= render "navigation/meta_nav" %>
  <%= render "navigation/navbar" %>
  <%= render "welcome_header" %>
<% end %>

<%= hy_layout_body do %>

  <%= hy_placement(class: 'hy-course-previews') do %>
    <%= render "course_preview_today" %>
    <%= render "course_preview_tomorrow" %>
  <% end %>

  <%= hy_placement(class: ' hy-placement-prime hy-welcome-copy') do %>
    <%= hy_placement_header do %>
      <h1>Harakiri Yoga</h1>
    <% end %>

    <%= hy_placement_body do %>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
      <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
      <p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    <% end %>
  <% end %>

  <%= hy_placement(class: 'hy-offers') do %>
    <%= hy_placement_body(class: 'hy-card-gallery') do %>
      <article class="hy-card">
        <header class="hy-card-header"></header>
        <div class="hy-card-body"></div>
      </article>
    <% end %>
  <% end %>

  <article class="hy-placement hy-welcome-copy">
  </article>
<% end %>

<footer class="hy-layout-footer">

</footer>
