<header class="hy-layout-header" data-parallax="scroll" data-image-src="<%= image_path "himalaya.jpg" %>">
  <%= render "navigation/meta_nav" %>
  <%= render "navigation/navbar" %>
  <%= render "welcome_header" %>
</header>

<div class="hy-layout-body">
  <div class="hy-placement hy-course-previews">
    <%= render "course_preview_today" %>
    <%= render "course_preview_tomorrow" %>
  </div>

  <div class="hy-placement hy-placement-prime hy-welcome-copy">

  </div>
</div>

<footer class="hy-layout-footer">

</footer>
