<!DOCTYPE html>
<html class="no-js">
<head>
  <title>Happy Yoga</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'prerender' %>
  <%= csrf_meta_tags %>

  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>

<%= hy_layout do %>
  <%= yield %>
<% end %>

<%= javascript_include_tag 'application' %>
</body>
</html>
