<!DOCTYPE html>
<html class="no-js">
<head>
  <title>Happy Yoga</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'prerender' %>
  <%= csrf_meta_tags %>

  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>

<section class="hy-layout">
  <header class="hy-layout-header" data-parallax="scroll" data-image-src="<%= image_path "himalaya.jpg" %>">
    <%= render "navigation/meta_nav" %>
    <%= render "navigation/navbar" %>
    <div class="hy-welcome-header">
      <div class="hy-welcome-header-claim-wrapper">
        <h1 class="hy-welcome-header-headline">happy yoga</h1>
        <p class="hy-welcome-header-claim">gesund.zufrieden.leben</p>
      </div>

      <div class="hy-welcome-header-logo">
        <img class="hy-brand"
          src="<%= image_path "happy-yoga.svg" %>" onerror="this.onerror=null; this.src='<%= image_path "happy-yoga.png" %>'"
          alt="Happy Yoga">
      </div>
    </div>
  </header>

  <div class="hy-placement">
  </div>

  <div class="hy-layout-body">
      <%= yield %>
  </div>

  <footer class="hy-layout-footer">

  </footer>
</section>

<%= javascript_include_tag 'application' %>
</body>
</html>
